<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>utchProyect.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>24</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>35911D3926E6EFBD00793DD5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>35911D4F26E6EFC100793DD5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>35911D5A26E6EFC100793DD5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
